// Colors
$primary: #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$white-color: #ffffff;
$black-color: #000000;
$error-color: red;

// Google colors
$google-blue: #4285f4;
$button-active-blue: #1669f2;