.auth {
    &__main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        margin: 0;
    }
    &__box-container {
        background-color: $white-color;
        box-shadow: 0 3px $dark-grey;
        border-radius: 2px;
        padding: 20px;
        width: 250px;
    }
    &__title {
        color: darken($primary, 20);
        margin-bottom: 20px;
    }
    &__input {
        color: $dark-grey;
        border: 0;
        border-bottom: 1px solid $light-grey;
        font-size: 16px;
        margin-bottom: 10px;
        height: 20px;
        width: 100%;
        transition: border-bottom 0.3s ease;
        &:focus {
            border-bottom: 1px solid $primary;
            outline: none;
        }
    }
    &__social-networks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
    }
    &__alert-error {
        background-color: $error-color;
        border-radius: 5px;
        color: $white-color;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding: 5px;
    }
}