.btn {
    background-color: transparent;
    border: none;
    color: $white-color;
    font-size: 12px;
    padding: 7px 10px;
    transition: color ease 0.3s;
    &:focus {
        outline: none;
    }
    &:hover {
        color: darken($white-color, 10);
    }
    &-primary {
        background-color: $primary;
        border-radius: 2px;
        &:disabled {
            background-color: lighten($primary, 15);
        }
        &:hover {
            background-color: darken($primary, 15);
        }
    }
    &-block {
        width: 100%;
    }
}

.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white-color;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        float: right;
        margin: 11px 40px 0 0;
        color: $white-color;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}