.feedback-container {
    width: 100%;
    height: 100vh;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__icon,
    &__desc {
        color: $white-color;
    }
    &__icon {
        font-size: 42px;
    }
}