.journal {
    &__main-wrapper {
        display: flex;
        width: 100vw;
    }
    &__sidebar {
        background-color: $dark-grey;
        color: $white-color;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0 10px;
        width: 300px;
    }
    &__main-content {
        flex-grow: 1;
    }
    &__sidebar-navbar {
        display: flex;
        justify-content: space-between;
        & h3 {
            font-weight: lighter;
        }
    }
    &__new-entry {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        transition: color 0.3s ease;
        &:hover {
            color: darken($white-color, 20);
        }
    }
    &__entries {
        flex: 1 1 auto;
        margin-top: 30px;
        overflow-y: auto;
    }
    &__entry {
        background-color: $white-color;
        border-radius: 4px;
        color: $dark-grey;
        display: flex;
        margin-bottom: 10px;
        overflow: hidden;
    }
    &__entry-picture {
        height: 75px;
        width: 75px;
        background-size: cover;
    }
    &__entry-body {
        padding: 10px;
    }
    &__entry-title {
        font-size: 14px;
        font-weight: bold;
    }
    &__entry-content {
        font-size: 10px;
    }
    &__entry-date-box {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        & span {
            font-size: 12px;
        }
    }
}